
body, body * {
    vertical-align: baseline;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size:19px;
    color: #757575;
    -webkit-transform-style: preserve-3d;
     /*-webkit-font-smoothing: antialiased;
     -webkit-backface-visibility: hidden;*/
}


#main-container {
    position: absolute;
    width: 728px;
    height: 90px;
    background: #fff;
    text-align: center;
}

#exit {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    z-index: 10;
}

.feature {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

:focus {
    outline:none;
}
::-moz-focus-inner {
    border:0;
}
#photo {
    position: absolute;
    top:0px;
    left:0px;
}

#copy1{
    position: absolute;
    left:93px;
    opacity: 0;
}


#copy1 {
    top: 23.3px;
    left: 0px;
}

#dotdotdot{
    position: absolute;
    top:23.3px;
    left:105px;
    opacity: 0;
}

#dotdotdot div{
    position: relative;
    display: inline-block;
    letter-spacing: -4px;
    opacity: 1;
}

#copy2a{
    position: absolute;
    top:23.3px;
    left:90px;
    opacity: 0;
    z-index: 999999;
}

#copy1 div, #copy2a div, #copy2b div, #copy2c div, #copy2d div {
  position: relative;
  display: inline-block;
  opacity:0;
  letter-spacing: -4px;
}

#copy2b{
    position: absolute;
    top:45px;
    left:80px;
    opacity: 0;
    z-index: 999999;
}


#copy2c{
    position: absolute;
    top:45px;
    left:69px;
    opacity: 0;
}


#copy2d{
    position: absolute;
    top:45px;
    left:109px;
    opacity: 0;
}


#copy3 {
   position: absolute;
   width: 200px;
   /*text-align: left;*/
    top: 22px;
    left:320px;
    opacity: 0;
    font-size: 19px;
}

#phone {
    position: absolute;
    top:350px;
    left:205px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

#handPhone1 {
    position: absolute;
    top:0px;
    left:35px;
    width: 141px;
    height: 170px;
}

#handPhone2 {
    position: absolute;
    top:10px;
    left:160px;
    width: 105px;
    height: 178px;
}

#cup {
    position: absolute;
    top:10px;
    left:30px;
    width: 69px;
    height: 65px;
}


#computer {
    position: absolute;
    top:-100px;
    left:400px;
    -webkit-transform: rotate(-78deg);
    -ms-transform: rotate(-78deg);
    -moz-transform: rotate(-78deg);
    -o-transform: rotate(-78deg);
    transform: rotote(-78deg);
    /*-webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);*/

}
#laptop {
    position: absolute;
    width: 74px;
    height: 113px;
    right:10px;
    top:5px;
}
#handComp1 {
    position: absolute;
    right:-45px;
    top:60px;
    width:100px;
    height: 27px;
}

#handComp2 {
    position: absolute;
    right:-62px;
    top:0px;
    width:120px;
    height: 57px;
}

#minicupComp {
    position: absolute;
    right:30px;
    top:-35px;
    width: 42px;
    height: 45px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotote(-90deg);
}


#tablet {
    position: absolute;
    top:-100px;
    left:310px;
    -webkit-transform: rotate(91deg);
    -ms-transform: rotate(91deg);
    -moz-transform: rotate(91deg);
    -o-transform: rotate(91deg);
    transform: rotote(91deg);
}

#handTablet1 {
    position: absolute;
    top:30px;
    left:-50px;
    width: 139px;
    height: 69px;
}

#handTablet2 {
    position: absolute;
    top:60px;
    left: -38px;
    width: 80px;
    height: 92px;
}

#minicupTab {
    position: absolute;
    top:-20px;
    left:15px;
    width: 44px;
}


#computerDog {
    position: absolute;
    top:200px;
    left:150px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotote(180deg);
}

#paw1 {
    position: absolute;
    left:30px;
    top:-20px;
    width: 27px;
    height: 80px;
}

#paw2 {
    position: absolute;
    left:75px;
    top:-30px;
    width: 32px;
    height: 89px;
}

#laptopDog {
    position: absolute;
    top:15px;
    left:5px;
    width: 118px;
    height: 65px;
}

#logo {
    position: absolute;
    width: 275px;
    height: 30px;
    text-align: center;
    top:30px;
    left: 226px;
}

#cta{
  background-color: #1075f4;
  padding: 10px;
  text-align: center;
  position: absolute;
  left: 595px;
  top: 25px;
  width: 90px;
  border-radius: 2px;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0.6px;
  transform: scale(0.4);
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);
  opacity: 0;
  overflow: hidden;
}

.icon-effect {
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;

    opacity: 0;

    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);


    background: rgba(255, 255, 255, 0.2);
    background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 255, 255, 0.0) 100%
    );
    background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 255, 255, 0.0) 100%
    );
    background: -webkit-gradient(
    linear, left top, right top,
    color-stop(0%  ,rgba(255, 255, 255, 0.2)),
    color-stop(75% ,rgba(255, 255, 255, 0.2)),
    color-stop(90% ,rgba(255, 255, 255, 0.8)),
    color-stop(100%,rgba(255, 255, 255, 0.0))
    );
    background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 255, 255, 0.0) 100%
    );
    background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0.5) 90%,6
    rgba(255, 255, 255, 0.0) 100%
    );
    background: linear-gradient(
    top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 255, 255, 0.0) 100%
    );



    -webkit-transition-property: left, top, opacity;
    -moz-transition-property: left, top, opacity;
    -ms-transition-property: left, top, opacity;
    -o-transition-property: left, top, opacity;
    transition-property: left, top, opacity;
    -webkit-transition-duration: 0.5s, 0.5s, 0.1s;
    -moz-transition-duration: 0.5s, 0.5s, 0.1s;
    -ms-transition-duration: 0.5s, 0.5s, 0.1s;
    -o-transition-duration: 0.5s, 0.5s, 0.1s;
    transition-duration: 0.5s, 0.5s, 0.1s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

/* Hover state - trigger effect */

.icon-effect.shimmer {
  opacity: 1;
  top: -15%;
  left: -30%;
}

#footer {
  position: absolute;
  right:0px;
  width: 220px;
  text-align: center;
  height:100%;
  background: #bcbcbc;
  bottom:-728px;
}

#logoWhite {
  margin-top:35px;
  width:185px;
  }
